.swiper {
    .swiper-slide {
        display: flex;
        height: auto;
    }
    .swiper-pagination {
        position: absolute;
        bottom: 2rem;
        z-index: 99;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 15px;

        &.swiper-pagination-lock {
            display: none;
        }

        .swiper-pagination-bullet {
            display: inline-flex;
            width: 24px;
            height: 6px;
            margin: 0 0.5rem;
            background: $colorWhite;
            border-radius: $borderRadiusS;
            transition: $transition;
            cursor: pointer;

            &.swiper-pagination-bullet-active {
                width: 40px;
                height: 8px;
                background: $colorRed;
            }
        }

        &.circle {
            .swiper-pagination-bullet {
                display: inline-flex;
                width: 12px;
                height: 12px;
                background: $colorBorder;
                border-radius: $borderRadiusCircle;
    
                &.swiper-pagination-bullet-active {
                    width: 20px;
                    height: 20px;
                    background: $colorRed;
                }
            }
        }
    }

    .swiper-button-prev, .swiper-button-next {
        position: absolute;
        top: 50%;
        z-index: 99;
        display: none;
        align-items: center;
        justify-content: center;
        width: 30px;
        height: 30px;
        background-color: $colorWhite;
        border-radius: $borderRadiusCircle;
        transform: translateY(-50%);
        cursor: pointer;
        @include shadow;
        @include bgImg;

        &[aria-disabled="true"] {
            opacity: 0.5;
        }

        &.swiper-button-lock {
            display: none;
        }
    }
    .swiper-button-prev {
        background-image: url("../img/ic-arrow-left.svg");
    }
    .swiper-button-next {
        background-image: url("../img/ic-arrow-right.svg");
    }
}

@media (min-width: 480px) {
    .swiper {
        .swiper-button-prev {
            display: flex;
            left: 1rem;
        }

        .swiper-button-next {
            display: flex;
            right: 1rem;
        }
    }
}
@media (min-width: 1024px) {
    .swiper {
        .swiper-pagination-bullet:hover {
            background: $colorSecond;
        }
        .swiper-button-prev, .swiper-button-next {
            width: 50px;
            height: 50px;
            transition: $transition;

            &:hover {
                background-position: 3px 0;
                background-color: $colorSecond;
            }
            &[aria-disabled="true"]:hover {
                background-position: 0 0;
            }
        }
        .swiper-button-prev {
            left: 2rem;

            &:hover {
                background-position: -3px 0;
            }
            &[aria-disabled="true"]:hover {
                background-position: 0 0;
            }
        }
        .swiper-button-next {
            right: 2rem;
        }
    }
}
@media (min-width: 1200px) {
    .swiper-pagination {
        bottom: 3rem;
    }
}