.section-inner {
    .cont {
        justify-content: space-between;
        gap: 1rem;
        flex-wrap: nowrap;
    }
}

.section-products {
    width: 100%;

    &__inner {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 1rem;
    }
}

.section-page {
    .brand-description {
        display: flex;
        flex-direction: column;

        .logo {
            width: 100%;
            max-width: 300px;
            height: 100px;
            margin-bottom: $mb-m;

            img {
                @include imgFit;
                object-fit: contain;
            }
        }
        p {
            text-align: justify;
        }
    }
}

@media (min-width: 550px) {
    .section-products {
        &__inner {
            grid-template-columns: repeat(2, 1fr);
        }
    }
}
@media (min-width: 640px) {
    .section-page {
        .brand-description {
            flex-direction: row;
            align-items: center;

            .logo {
                max-width: 30%;
                margin-bottom: 0;
            }
            .text {
                margin-left: $mb-m;
            }
        }
    }
}
@media (min-width: 768px) {
    .section-products {
        &__inner {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    .section-page {
        .brand-description {
            .text p {
                margin-left: $mb-l;
                font-size: $fontS;
            }
        }
    }
}
@media (min-width: 1024px) {
    .section-products {
        &__inner {
            grid-template-columns: repeat(3, 1fr);
        }
    }
}
@media (min-width: 1320px) {
    .section-products {
        &__inner {
            grid-template-columns: repeat(3, 1fr);
        }
    }
}