.basket-block {
    .config-options {
        &.delivery-options {
            .config-option {
                .switch {
                    padding-left: 0;
                    
                    .label-pic {
                        position: relative;
                        top: 0;
                        left: 2rem;
                        color: $colorRedTransparent;

                        svg {
                            width: 30px;
                            height: 30px;
                        }
                    }
                    img {
                        position: relative;
                        right: auto;
                    }
                    .switch-right {
                        width: 100%;
                        margin-top: $mb-xs;

                        .price {
                            display: block;
                            font-size: $font16;
                            color: $colorRedTransparent;
                        }
                    }
                    label {
                        display: inline-flex;
                        font-family: $fontTitle;
                        font-size: $fontXS;
                    }
                }
                .config-text {
                    margin-bottom: $mb-m;
                }
            }
        }
    }
}

.address-selector {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 0.5rem;
    margin-bottom: $mb-l;

    .address-item {
        position: relative;
        padding: 1rem;
        border: 1px solid $colorBorder;
        border-radius: $borderRadiusCommon;

        .custom-radio {
            position: absolute;
            top: 1rem;
            left: 1rem;
            @include customRadioBtn;
        }
        h4 {
            position: relative;
            top: -4px;
            margin-bottom: $mb-xs;
            margin-left: 2.5rem;
            font-size: $fontS;
        }
        .address-footer {
            display: flex;
            justify-content: space-around;
        }
        hr {
            border-color: $colorBorder;
        }
    }
}

@media (min-width: 480px) {
    .basket-block {
        .config-options {
            &.delivery-options {
                .config-option {
                    .switch {
                        flex-direction: row;

                        .switch-right {
                            position: relative;
                            top: 0;
                            width: auto;
                            margin-top: 0;
                            margin-left: 2.5rem;
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 640px) {
    .address-selector {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (min-width: 768px) {
    .address-selector {
        grid-template-columns: repeat(1, 1fr);
    }
}
@media (min-width: 850px) {
    .address-selector {
        grid-template-columns: repeat(2, 1fr);
    }
}