.page-nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;

    .left-nav {
        margin-bottom: $mb-m;
    }

    .prev, .next {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        max-width: 40px;
        height: 40px;
        border: 1px solid $colorBorder;
        border-radius: $borderRadiusCircle;
        // background-image: url("../img/ic-arrow-left.svg");
        // @include bgImg;
        // background-position: center;
        // background-size: 80%;

        &:hover {
            // background-position: 2px center;
            background-color: $colorGrayHover;
        }
    }
    
    ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        // margin: 0 0.5rem;

        li {
            margin: 0 0.3rem 0.3rem;

            &.current a {
                background: $colorPrimary;
                border-color: $colorPrimary;
                color: $colorWhite;
            }
            .prev {
                margin-right: $mb-m;
            }
            .next {
                // transform: rotate(180deg);
                margin-left: $mb-m;
            }
        }
        a, span {
            display: inline-flex;
            align-items: center;
            justify-content: center;
        }
        a {
            width: 40px;
            height: 40px;
            border: 1px solid $colorBorder;
            border-radius: $borderRadiusCircle;
        }
        span {
            padding-top: 0.3rem;
        }
    }
}

@media (min-width: 768px) {
    .page-nav {
        justify-content: space-between;
        flex-direction: row;

        .left-nav {
            margin-bottom: 0;
        }
        ul {
            margin: 0 1rem;
        }
    }
}
@media (min-width: 1024px) {
    .page-nav {
        ul li {
            a:hover {
                border-color: $colorRed;
                color: $colorRed;
            }
            &.current a:hover {
                background: $colorPrimary;
                border-color: $colorPrimary;
                color: $colorWhite;
            }
        }
    }
}